* {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
}

.header{
    background-color: black;
    color: beige;
    width: 100%;
    padding: 20px;
}

.nav, .txt-logo {
    display: inline-block;
}

.nav {
    margin-left: 800px;
}

.txt-logo{
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: beige;
    padding:20px;
    font-size: 20px;
    margin: 10px;
}

.nav a:hover{
    background-color: beige;
    color: black;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color:aliceblue;
    padding: 20px;
    font-size: 1.5em;
}